.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
   margin-top: 200px;      

}

.content {
    display: flex;
    display: block;
    gap: 50px;                
    padding: 20px;
    border: 1px solid #ddd;   
    border-radius: 10px;
    background: #f9f9f9;      
}
